body {
	background-color: #FFFFBB;
}

.header-contents {
	margin-left: 20px;
}

.main-contents {
	margin: 20px;
	padding: 10px 10px 5px 10px;
	background-color: #FFA500;
	height: 100%;
	width: 80%;
}

.footer-contents {
	margin-left: 20px;
}

.text-box {
    margin: 5px 0px;
	width: 780px;
	height: 56px;
}

button {
	margin-bottom: 5px;
}

.delete-button{
    display:inline-block;
}

.edit-button{
    display:inline-block;
}

.form-area {
	margin: 10px;
	padding: 10px;
	background-color: white;
}

/* 各セルに境界線を適用 */
table.tasks th,
table.tasks td {
    border: 1px solid black;
    padding: 8px; /* セル内の余白を追加して見やすくする */
}

/* テーブル全体のスタイル */
table.tasks {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

/* ヘッダーのスタイル */
table.tasks th {
    background-color: #8B4513;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

/* ボディのセルのスタイル */
table.tasks td {
    border: 1px solid #ddd;
    padding: 10px;
}

th.account {
    width: 20%;
}

th.name {
    width: 20%;
}

th.branchName {
    width: 15%;
}

th.departmentName {
    width: 15%;
}

th.isStopped {
    width: 15%;
    text-align: center;
}

td.branchName {
    width: 15%;
    text-align: center;
}

td.departmentName {
    width: 15%;
    text-align: center;
}

td.isStopped {
    width: 15%;
    text-align: center;
}

td.user-edit-button {
    width: 15%;
    text-align: center;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.limit-before{
    background-color: #FFBEDA;
}
.limit-after{
    background-color: #FFFF99;
}
