<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ログイン</title>
</head>
<body>
<div class="header-contents">
    <h2>ログイン</h2>
    <!--エラーメッセージ -->
    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
        <li><span th:text="${errorMessage}"/></li>
    </div>
    <form method="post" action="/login" th:object="${formModel}">
        <div class="form-area">
            <label>アカウント名</label>
            <input th:name="account" type="text" th:field="*{account}" />
            <label>パスワード</label>
            <input th:name="password" type="text" th:field="*{password}"/>
            <input type="submit" value="ログイン"/>
        </div>
    </form>
</div>
</body>
</html>