<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザー登録</title>
</head>
<body>
<div class="header-contents">
    <h2>ユーザー登録</h2>
    <!--エラーメッセージ -->
    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
        <li><span th:text="${errorMessage}"/></li>
    </div>
    <form method="post" action="/signUpAdd" th:object="${formModel}">
        <div class="form-area">
            <label>アカウント名</label>
            <input th:name="account" type="text" th:field="*{account}"/>
            <label>パスワード</label>
            <input th:name="password" type="password" th:field="*{password}"/>
            <label>確認用パスワード</label>
            <input th:name="confirmPassword" type="text"/>
            <label>名前</label>
            <input th:name="name" type="name" th:field="*{name}"/>
            <label>支社ID</label>
            <select th:name="branchId" type="branchId" th:field="*{branchId}" >
                <option value="1" th:selected="${status == 1}">1</option>
                <option value="2" th:selected="${status == 2}">2</option>
                <option value="3" th:selected="${status == 3}">3</option>
                <option value="4" th:selected="${status == 4}">4</option>
                <option value="5" th:selected="${status == 5}">5</option>
            </select>
            <label>部署ID</label>
            <select th:name="departmentId" type="departmentId" th:field="*{departmentId}"/>
                <option value="1" th:selected="${status == 1}">1</option>
                <option value="2" th:selected="${status == 2}">2</option>
                <option value="3" th:selected="${status == 3}">3</option>
                <option value="4" th:selected="${status == 4}">4</option>
            </select></br>
            <input type="submit" value="登録"/>
        </div>
    </form>
</div>
</body>
</html>