

  </div>
</div>
</body>
</html>



<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>TOP</title>
</head>
<body>
  <div class="header-contents">
    <h1>掲示板</h1>
  </div>
  <div class="main-contents">
    <!--新規投稿-->
    <a href="/new">
      <button class="new-button" type="button">新規投稿</button>
    </a>
    <form th:method="get" action="./">
      <div class="form-area">
        <!--フォームの要素の見出しを表すタグ(label)-->
        開始日
        <!-- nameがControllerに渡したい情報　valueが初期表示させたい情報 -->
        <input type="date" name="start_date" th:value="${startDate}">
        終了日
        <input type="date" name="end_date" th:value="${endDate}">
        <!--カテゴリー-->
        カテゴリー
        <input type="category" name="category" th:value="${category}">
        <input type="submit" value="絞込">
      </div>
    </form>
    <div class="message-icon" th:each="contentData : ${contentData}">
      <div class="title">
        件名 : <span th:text="${contentData.title}"/>
      </div>
      <div class="text">
        本文 : <span th:text="${contentData.text}"/>
      </div>
      <div class="category">
        カテゴリー : <span th:text="${contentData.category}"/>
      </div>
<!--      <div class="createdDate">-->
<!--        投稿日時 : <span th:text="${contentData.createdDate}"/>-->
<!--      </div>-->
<!--      <div class="userId">-->
<!--        投稿者 : <span th:text="${contentData.userId}"/>-->
<!--      </div>-->
<!--      <div class="comment">-->
<!--        コメント : <span th:text="${contentData.comment}"/>-->
<!--      </div>-->


    </div>

<!--    &lt;!&ndash;編集ボタン&ndash;&gt;-->
<!--    <td class="edit-button">-->
<!--      <form th:action="@{/edit/{id}(id=${content.id})}">-->
<!--        <input type="submit" value="編集"/>-->
<!--      </form>-->
<!--    </td>-->
<!--    &lt;!&ndash;削除ボタン&ndash;&gt;-->
<!--    <td class="delete-button">-->
<!--      <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">-->
<!--        <div>-->
<!--          <input class="confirm-action-btn" type="submit" value="削除">-->
<!--        </div>-->
<!--      </form>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </table>-->
<!--  <div>-->
<!--    <script>-->
<!--      //★削除ボタンへのダイアログ機能-->
<!--      // 'confirm-action-btn' クラスを持つすべての要素を取得-->
<!--      const confirmButtons = document.querySelectorAll('.confirm-action-btn');-->

<!--      //取得した各ボタンに対してループ処理を行う-->
<!--      confirmButtons.forEach(button => {-->
<!--          button.addEventListener("click", function(event) {-->
<!--              // data-message 属性から確認メッセージを取得-->
<!--              const message = this.dataset.message || "削除してもよろしいですか？"; // デフォルトメッセージも設定-->

<!--              var result = window.confirm(message);-->
<!--                  if( result ) {-->
<!--                      alert("OKがクリックされました");-->
<!--                  // もしフォーム送信やリンク遷移を続行させたい場合は、ここで event.preventDefault() を書かない-->
<!--                  // または、alert("OKがクリックされました"); 以外の処理を行う-->
<!--                  } else {-->
<!--                      event.preventDefault(); // デフォルトの動作をキャンセル-->
<!--                      alert("キャンセルがクリックされました");-->
<!--                  }-->
<!--          });-->
<!--      });-->
<!--    </script>-->
  </div>
</body>
</html>