<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>ユーザー編集</title>
</head>
<body>
<div class="header-contents">
  <h2>ユーザー編集</h2>
  <!--エラーメッセージ -->
  <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
    <li><span th:text="${errorMessage}"/></li>
  </div>
  <form method="get" action="/userEditUpdate" th:object="${formModel}">
    <div class="form-area">
      <label>アカウント名</label>
      <input th:name="account" type="text" th:field="*{account}"/>
      <label>パスワード</label>
      <input th:name="password" type="password" th:field="*{password}"/>
      <label>確認用パスワード</label>
      <input th:name="confirm_password"/>
      <label>名前</label>
      <input th:name="name" type="name" th:field="*{name}"/>
      <label>支社ID</label>
      <input th:name="branchId" type="branchId" th:field="*{branchId}"/>
      <label>部署ID</label>
      <input th:name="departmentId" type="departmentId" th:field="*{departmentId}"/>
      <input type="submit" value="登録"/>
    </div>
  </form>
</div>
</body>
</html>